@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
}

.addButton {
  background-color: #2563eb;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.addButton:hover {
  background-color: #1d4ed8;
}